
.menu {
  font-size: inherit;
  z-index: 9999;

}
.menu > .header {
  width: 100%;
  //border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  //border-radius: 50px;

}
.menu > .content {
  width: 70%;
  padding: 10px 5px;
  text-align: center;


}
.menu > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: left;
}

.menu > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;

}

